/* svg & preloader */

.Back {
    fill: none;
}

.st0 {
    fill: none;
}

.st1 {
    fill: #fff;
}

.st2 {
    fill: #000;
}

.preloader-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.preloader {
    width: 1200px;
    margin: 0 auto;
}

body, html {
    margin: 0;
}

/* Document */


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
        font-display: swap;
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
        font-display: swap;
        font-weight: 500;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
        font-display: swap;
        font-weight: 600;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
        font-display: swap;
        font-weight: 700;
        font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff') format('woff');
        font-display: swap;
        font-weight: 900;
        font-style: normal;
}




.list-reset {  
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.btn-reset {  
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


:root {
    --main-color: #ffc107;
    --secondary-color: #FF4081;
    --secondary-text: #757575;
    --text-color: #bdbdbd;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* background-color: #000; */
    color: #fff;
}


.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0.72) 95%, rgba(0,0,0,0) 100%); */
}

.logo {
    display: inline-block;
    width: 90px;
    position: relative;
    top: 20px;
    margin: 0px auto;
    padding: 5px 5px;
    border-radius: 2px;
    background-color: #fff;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.logo-animation {
    animation-name: test;
    animation-duration: 2s;
    animation-fill-mode: both;
}




.pagination-list {
    position: fixed;
    z-index: 11;
    right: 40px;
    top: 100px;
}

.pagination-item {  
    font-size: 16px;
    letter-spacing: 2px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.pagination-item:not(:last-child) {
    margin-bottom: 35px;
}

.pagination-link {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.pagination-link:hover {
    color: #fff;
    transition: color 0.3s;
}


.pagination-link-active {
    color: var(--main-color);
}

.pagination-link-active::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--main-color); /*Берёт текущий цвет у элемента*/   
}



.hero {
    padding: 200px 10px 100px 70px;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-size: 400px;
    color: var(--main-color);
    font-weight: 900;
    margin: 0;
    margin-top: 70px;
    padding-left: 25px;
}

/* Main part */

.article {
    display: flex;
    border: 3px solid #fff;
    border-radius: 4px;
    padding: 95px 0 90px 0;
    margin: 0 135px 300px 110px;
}



.image-part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-image {
    max-height: 400px;
}

.large-image {
    max-height: 330px;
}



.text-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
}

.current-title {
    font-size: 60px;
    margin: 0;
    margin-bottom: 70px;
    color: var(--main-color);
}

.title-link {
    text-decoration: none;
    color: var(--main-color);
}

.button-link {
    display: block;
    margin: 25px 10px 0 0;
    float: right;
    font-weight: 700;   
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.button-link svg {
    height: 11px;
    width: 11px;
    fill: currentColor;
    transform: translateY(1px);
    padding-right: 4px;
}

.button-link span {
    display: inline-block;
    /* text-indent: 7px; // Устанавливает велечину отступа у первой строки */
    padding-bottom: 1px;
    border-bottom: 1px solid currentColor; 
}

.button-link:hover {
    transition: color 0.3s;
    color: var(--main-color);
}

.large-title {
    font-size: 50px;
}


.text-subtitle {
    display: inline-block;
    color: var(--secondary-text);
    margin-bottom: 10px;
}

.current-text {
    margin: 0;
    max-width: 100%;
    font-weight: 500;
    line-height: 22px;
}







/* Аниматион */

@keyframes test {
    0% {
        width: 90px;
        bottom: 0;
        right: 0;
    }
    
   
    100% {
        width: 55px;
        top: 15px;
        right: 710px;
    }
}


