* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
        font-display: swap;
        font-weight: 400;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
        font-display: swap;
        font-weight: 500;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
        font-display: swap;
        font-weight: 600;
        font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
        font-display: swap;
        font-weight: 700;
        font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--main-color);
    color: var(--text-color);
}

.container {
    max-width: 1600px;
    padding: 20px 30px;
    margin: 0 auto;
}

.list-reset {  /*Разобраться зачем это*/
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.btn-reset {  /*Разобраться зачем это*/
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


:root {
    --main-color: #FFC107;
    --secondary-color: #FF4081;
    --secondary-text: #757575;
    --devider-color: #bdbdbd;
    --text-color: #212121;

}


/* First part */

.part {
    background-color: #fff;
    margin: 30px; 
    box-shadow: 1px 2px 13px 1px rgba(50, 50, 50, 0.61);
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-b {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 10px 17px;
    border-radius: 25%;
}

.logo-text {
    margin-left: 15px;
    color: var(--secondary-color);
}

.header-item {
    display: inline-block;
}

.header-item:not(:last-child) {
    margin-right: 25px;
}

.header-link {
    text-decoration: none;
    color: var(--secondary-color);
}


.hero-content {
    padding-top: 150px;
    max-width: 1240px;
    margin: 0 auto;

}

.hero-title {
    margin: 0;
    font-size: 46px;
    color: var(--text-color);
}

.main-word {
    color: var(--secondary-color);
}


.hero-descr {
    margin: 0;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero-text {
    color: var(--secondary-text);
}

.down-button {
    display: inline-block;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 15px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}

.down-button svg {
    width: 31px;
    height: 25px;
    transform: translateY(3px);
}

.down-button:hover {
    opacity: 1;
}

.social-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-item {
    display: inline-block;
}

.social-item:not(:last-child) {
    margin-bottom: 5px;
}

.social-link {
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    opacity: 0.4;
    transition: opacity 0.3s ease-in;
}

.social-link-tw {
    background-image: url("..//img/twitter.svg");
}

.social-link-vk {
    background-image: url("..//img/vk.svg");
}

.social-link-tg {
    background-image: url("..//img/telegram.svg");
}

.social-link:hover {
    opacity: 1;
}





/* Other parts */




.current-part {
    display: flex;
    background-color: #fff;
    margin: 30px; 
    margin-top: 50px;
    min-height: 690px;
    box-shadow: 1px 2px 13px 1px rgba(50, 50, 50, 0.61);
}

.part:not(:first-child) {
    margin-top: 100px;
}


.current-header {
    position: absolute;
    padding: 25px;
}



.left-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    width: 60%;
}

.current-title {
    font-size: 50px;
    margin-bottom: 30px;
}

.medium-length {
    font-size: 44px;
}



h2 {
    margin: 0;
}

.title-link {
    text-decoration: none;
    color: var(--text-color);
    
}

.text-subtitle {
    display: inline-block;
    color: var(--secondary-text);
    margin-bottom: 10px;
}

.current-text {
    margin: 0;
    font-weight: 600;
    line-height: 20px;

}

.right-part {
    width: 50%;
    background-color: #ffda6a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-image {
    max-height: 350px;
}

.medium-image {
    max-height: 430px;
}

.current-part-second {
    flex-direction: row-reverse;
}

.current-part-second header {
    right: 650px;
}

.right-part-second {
    background-color: skyblue;
}

.right-part-third {
    background-color: #ffaf94;
}